# AIRFLOW CORE
AIRFLOW_UID=50000
AIRFLOW_IMAGE_NAME=apache/airflow:3.1.2

AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__CORE__AUTH_MANAGER=airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager

AIRFLOW__CORE__FERNET_KEY=D8gy8fsEHOa3kwPr0PhjDgb0lHUNR8Q84oxSU18xEAE=
AIRFLOW__WEBSERVER__SECRET_KEY=4b1f6d8e0a2c9f1133557799aabbccddeeff00112233445566778899aabbccdd
AIRFLOW__API_AUTH__JWT_SECRET=JWT_AUTH_===222

AIRFLOW__CORE__LOAD_EXAMPLES=true
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=true

AIRFLOW__SCHEDULER__ENABLE_HEALTH_CHECK=true
AIRFLOW__CORE__EXECUTION_API_SERVER_URL=http://airflow-apiserver:8080/execution/

_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=123

# DATABASE
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
DB_URL=postgresql+psycopg2://airflow:airflow@postgres/airflow

# PGADMIN
PGADMIN_DEFAULT_EMAIL=admin@gmail.com
PGADMIN_DEFAULT_PASSWORD=admin

AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://airflow:airflow@postgres/airflow
AIRFLOW__CELERY__BROKER_URL=redis://:@redis:6379/0

# MINIO (S3)
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password123

S3_ENDPOINT=http://minio:9000
S3_BUCKET=default-bucket
AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=password123
AWS_REGION=us-east-1
# MINIO CONNTECTION
AWS_CONN_ID=aws_default

# General
HOSTNAME="localhost"


